[global]
server.socket_host: '178.62.98.183'
server.socket_port: 80

[/]
tools.staticdir.on = True
tools.staticdir.dir = 'robyn'
tools.response_headers.headers = [('Conent-Type', 'text/html')]
tools.response_headers.on = True
request.dispatch = cherrypy.dispatch.MethodDispatcher()
tools.staticdir.root = "../"

[/scripts]
tools.staticdir.on = True
tools.staticdir.dir = 'robyn/js'

[/styles]
tools.staticdir.on = True
tools.staticdir.dir = 'robyn/css'

[/images]
tools.staticdir.on = True
tools.staticdir.dir = 'robyn/img'
